{% extends 'base.html' %}

{% block content %}
    <div class="w-11/12 sm:w-5/12 flex flex-col mx-auto my-6 gap-4 items-center justify-center">
        <span class="flex flex-col items-center justify-center gap-2">
            <span class="text-blue-600 text-2xl font-medium flex items-center gap-2">
                <span class="bg-blue-600 p-1 rounded-lg">
                    <svg class="w-8 h-8 stroke-white stroke-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                    </svg>
                </span>
                <p>
                    EduTrack
                </p>
            </span>
            <p class="text-gray-400 font-light text-xs">
                Ghana's Premiere School Administration Suite
            </p>
        </span>

        <form method="post" enctype="multipart/form-data" class="bg-white rounded-lg border border-gray-200 shadow w-11/12 sm:w-8/12 px-3 py-3 flex items-center justify-center flex-col">
            {% csrf_token %}
            <span class="w-full flex flex-col items-center justify-center gap-2">
                <div id="profile_image_container" class="w-16 h-16 rounded-full border border-gray-200 shadow cursor-pointer flex items-center justify-center bg-gray-50 overflow-hidden" onclick="document.getElementById('picture_input').click()">
                    <svg id="camera_icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-gray-400">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.827 6.175A2.31 2.31 0 0 1 5.186 7.23c-.38.054-.757.112-1.134.175C2.999 7.58 2.25 8.507 2.25 9.574V18a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9.574c0-1.067-.75-1.994-1.802-2.169a47.865 47.865 0 0 0-1.134-.175 2.31 2.31 0 0 1-1.64-1.055l-.822-1.316a2.192 2.192 0 0 0-1.736-1.039 48.774 48.774 0 0 0-5.232 0 2.192 2.192 0 0 0-1.736 1.039l-.821 1.316Z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12.75a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0ZM18.75 10.5h.008v.008h-.008V10.5Z" />
                    </svg>
                    <img id="profile_preview" class="hidden w-full h-full object-cover" alt="Profile Preview">
                </div>
                {% if form.picture.errors %}
                    <p class="text-red-500 text-[10px] italic">{{ form.picture.errors.0 }}</p>
                {% endif %}
                <p class="text-gray-700 text-sm font-medium">
                    Create your account
                </p>
                <p class="text-[10px] font-light text-gray-500">
                    Fill in the details below to get started
                </p>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="text-red-500 text-[10px] italic">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </span>

            <div class="w-full flex flex-col gap-4 my-5">
                <span class="flex flex-col w-11/12 mx-auto text-left items-start justify-start">
                    <label for="full_name" class="text-xs font-light text-gray-400">Full Name</label>
                    <input type="text" name="full_name" value="{{ form.full_name.value|default:'' }}" class="w-full px-2 py-1 text-gray-600 font-medium focus:outline-1 outline-blue-400 placeholder:text-gray-400 placeholder:text-xs border border-gray-200 rounded-lg" placeholder="Johnston Kweku Abubakar">
                    {% if form.full_name.errors %}
                        <p class="text-red-500 text-[10px] italic">{{ form.full_name.errors.0 }}</p>
                    {% endif %}
                </span>
                <span class="flex flex-col w-11/12 mx-auto text-left items-start justify-start">
                    <label for="username" class="text-xs font-light text-gray-400">Username</label>
                    <input type="text" name="username" value="{{ form.username.value|default:'' }}" class="w-full px-2 py-1 text-gray-600 font-medium focus:outline-1 outline-blue-400 placeholder:text-gray-400 placeholder:text-xs border border-gray-200 rounded-lg" placeholder="johnston_k">
                    {% if form.username.errors %}
                        <p class="text-red-500 text-[10px] italic">{{ form.username.errors.0 }}</p>
                    {% endif %}
                </span>
                <span class="flex flex-col w-11/12 mx-auto text-left items-start justify-start">
                    <label for="email" class="text-xs font-light text-gray-400">Email</label>
                    <input type="email" name="email" value="{{ form.email.value|default:'' }}" class="w-full px-2 py-1 text-gray-600 font-medium focus:outline-1 outline-blue-400 placeholder:text-gray-400 placeholder:text-xs border border-gray-200 rounded-lg" placeholder="johnstonkweku@gmail.com">
                    {% if form.email.errors %}
                        <p class="text-red-500 text-[10px] italic">{{ form.email.errors.0 }}</p>
                    {% endif %}
                </span>
                <span class="flex flex-col w-11/12 mx-auto text-left items-start justify-start">
                    <label for="contact" class="text-xs font-light text-gray-400">Contact Number (Ghana)</label>
                    <input type="tel" name="contact" value="{{ form.contact.value|default:'' }}" class="w-full px-2 py-1 text-gray-600 font-medium focus:outline-1 outline-blue-400 placeholder:text-gray-400 placeholder:text-xs border border-gray-200 rounded-lg" placeholder="0595471021">
                    {% if form.contact.errors %}
                        <p class="text-red-500 text-[10px] italic">{{ form.contact.errors.0 }}</p>
                    {% endif %}
                </span>
                
                <input type="file" name="picture" id="picture_input" class="hidden" accept="image/*" onchange="previewImage(this)">
                
                <span class="flex flex-col w-11/12 mx-auto text-left items-start justify-start">
                    <label for="password" class="text-xs font-light text-gray-400">Password</label>
                    <input type="password" name="password" class="w-full px-2 py-1 text-gray-600 font-medium focus:outline-1 outline-blue-400 placeholder:text-gray-400 placeholder:text-xs border border-gray-200 rounded-lg" placeholder="***********">
                    {% if form.password.errors %}
                        <p class="text-red-500 text-[10px] italic">{{ form.password.errors.0 }}</p>
                    {% endif %}
                </span>
                <span class="flex flex-col w-11/12 mx-auto text-left items-start justify-start">
                    <label for="confirm_password" class="text-xs font-light text-gray-400">Confirm Password</label>
                    <input type="password" name="confirm_password" class="w-full px-2 py-1 text-gray-600 font-medium focus:outline-1 outline-blue-400 placeholder:text-gray-400 placeholder:text-xs border border-gray-200 rounded-lg" placeholder="***********">
                    {% if form.confirm_password.errors %}
                        <p class="text-red-500 text-[10px] italic">{{ form.confirm_password.errors.0 }}</p>
                    {% endif %}
                </span>

                <button type="submit" class="w-11/12 mx-auto font-bold text-sm flex py-2  items-center justify-center bg-blue-600 text-white shadow border border-blue-50 active:scale-95 cursor-pointer transition-all rounded-lg">
                    Create Account
                </button>
                <span class="w-11/12 bg-gray-300 border mx-auto border-gray-300"></span>

                <span class="w-11/12 flex items-center justify-center mx-auto">
                    <p class="text-xs text-gray-500 font-light flex items-center gap-1 text-center w-full mx-auto">
                        Already have an account? <a href="{% url 'accounts:login' %}" class="text-blue-600 font-bold cursor-pointer">Log in</a>
                    </p>
                </span>
            </div>
        </form>
    </div>
    {% load static %}
    <script src="{% static 'js/accounts/register.js' %}"></script>
{% endblock content %}