{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPS PORTAL</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-sky-50">
    {% if request.user.is_authenticated %}
        {% include 'navbar.html' %}
        {% include 'sidebar.html' %}
    {% endif %}
    
    <div class="toast-container px-3 py-3 fixed top-18 z-100 right-6 rounded-lg"></div>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/utils/toastManager.js' %}"></script>
    <script src="{% static 'js/sidebar.js'%}"></script>
    <script src="{% static 'js/htmx.min.js' %}" integrity="sha384-..." crossorigin="anonymous"></script>
    
    <main class="{% if request.user.is_authenticated %}md:ml-[16.666667%] pt-20 px-4 md:px-8 pb-8 min-h-screen{% endif %}">
        {% block content %}{% endblock content %}
    </main>
</body>
</html>